# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
.env
*.sqlite3

# Virtual environments
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Byte-compiled / cache
.cache/
.mypy_cache/
pytest_cache/

# Docker volumes
pgdata/

# Logs
*.log
logs/
